:root {
  /* Colours */
  --color-bg: #c2b59b; /* page background /*

  /* Header */
  --color-head-bg: #c2b59b;

  /* Logotype */
  --color-logotype-bg: #726658;
  --color-text-logotype: #ffffff;
  --font-logotype-size: 2rem;

  /* Global menu */
  --color-menu-bg: #726658;
  /* Links */
  --color-link-bg: #ffffff;
  --color-link-hover: #d7df23; /* used */
  --color-link-active: #726658; /* used */
  --border-radius-links: 20px;

  /* Headlines og rubrik */
  --font-h1-size: 3rem;
  --font-sub1-size: 1rem;
  --font-h2-size: 2rem;
  --font-h3-size: 2rem;
  --color-headline-bg: #726658;
  --color-headline-text-page: #ffffff;

  /* Tekst */
  --color-text: #000;
  --color-text-inverted: #ffffff;

  /*  Marginer */
  --margin-head-bottom: 2px;

  /* Borders */
  --border-radius: 20px;

  /* Cards */
  --color-card-bg: #ffffff;
  --color-cta-card-bg: #d7df23;
  /* news-cards */
  --color-news-bg: #ffffff;
  --color-news-bg-inverted: #d5d8dc;
  --color-cta-newscard-bg: #726658;
  --color-cta-newscard-bg-inverted: #726658;

  /* Fonts */
  --font-family-sans: Grandstander-Bold;
  /* --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700; */

  /* Text sizes */
  --logotype-size: 1rem;
  --headline1-size: 2rem;
  --headline2-size: 1rem;
  --headline3-size: 1rem;
  --bodytext-size: 1rem;
  --cta-text-size: 1rem;
  --followup-text-size: 1rem;
  --form-submit-size: 1rem;

  /* Infographics */
  --color-info-bg: #ffffff;
  --color-infobox-1-bg: #fbb040;
  --color-infobox-2-bg: #ed1c24;
}
